# Requirements file for lbk_library virtual environment

# Run time requirements
# setuptools_scm  # uncomment this to enable version info from the library

# Testing Requirements
black
coverage
flake8
flake8-pyproject
isort
pydocstyle
pytest
pytest_cover

