# ########################################################
#
# Requirements for the lbk_library virtual environment. 
#
# File:       requirements.txt
# Author:     Lorn B Kerr
# Copyright:  (c) 2022, 2023 Lorn B Kerr
# License:    MIT, see file LICENSE
#
# ########################################################

# Run time requirements
PyQt6
# setuptools_scm  # uncomment this to enable version info from the library

# Testing Requirements

# Pytest Requirements
pytest
pytest_cover
pytest-mock
pytest-qt

# Style and Linting requirements
black
flake8
flake8-pyproject
isort
pydocstyle
pydocstyle[toml]

